<footer class="pt-4 border-top">
  <div class="row">
    <div class="d-inline-flex justify-content-center">
      {% for item in site.data.settings.social %}
      {% if forloop.first %}
      <a href="{{ item.link }}" class="ms-0 fs-5" target="_blank"><i class="{{ item.icon }} fa-fw" aria-hidden="true"></i></a>
      {% else %}
      <a href="{{ item.link }}" class="ms-4 fs-5" target="_blank"><i class="{{ item.icon }} fa-fw" aria-hidden="true"></i></a>
      {% endif %}
      {% endfor %}
      <a id="theme-toggle" onclick="modeSwitcher()" style="cursor: pointer;" class="ms-4 fs-5"><i class="fa-regular fa-circle-half-stroke fa-fw" aria-hidden="true"></i></a>
    </div>
  </div>
</footer>

<!-- <script>
  let attr = document.documentElement.getAttribute('data-theme')
  if (attr === 'light') {
    document.getElementById("theme-toggle").innerHTML = moon;
  }
  else if (attr === 'dark') {
    document.getElementById("theme-toggle").innerHTML = sun;
  }
</script> -->