<header class="d-flex flex-column flex-md-row align-self-end pb-md-3 pb-1 mb-5 border-bottom">
  <div>
    <div class="d-flex align-items-center justify-content-between" style="display: inline-block;">
      <a href="{{ site.github.url }}/" class="fs-4 fw-bold text-decoration-none" style="display: inline-block;">{{
        site.title }}</a>
      <!-- <a class="toggle" id="theme-toggle" onclick="modeSwitcher()" style="cursor: pointer; margin-right: 0px">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-circle-half"
          viewBox="0 0 16 16" style="vertical-align: -2px;">
          <path d="M3.5 2A1.5 1.5 0 0 1 5 3.5V5H3.5a1.5 1.5 0 1 1 0-3zM6 5V3.5A2.5 2.5 0 1 0 3.5 6H5v4H3.5A2.5 2.5 0 1 0 6 12.5V11h4v1.5a2.5 2.5 0 1 0 2.5-2.5H11V6h1.5A2.5 2.5 0 1 0 10 3.5V5H6zm4 1v4H6V6h4zm1-1V3.5A1.5 1.5 0 1 1 12.5 5H11zm0 6h1.5a1.5 1.5 0 1 1-1.5 1.5V11zm-6 0v1.5A1.5 1.5 0 1 1 3.5 11H5z"/>
        </svg>
      </a> -->
    </div>
    <div class="d-flex justify-content-between">
      <a href="{{ site.github.url }}/" class="text-decoration-none me-md-3">{{ site.description }}</a>
      <!-- <div>
        <a class="toggle" id="theme-toggle" onclick="modeSwitcher()" style="cursor: pointer;">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-justify-right"
            viewBox="0 0 16 16" style="vertical-align: -.125rem;">
            <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
          </svg>
        </a>
      </div> -->
    </div>
  </div>

  <nav class="d-inline-flex align-items-md-stretch mt-1 mt-md-0 ms-md-auto justify-content-between">
    {% for item in site.data.settings.menu %}
    {% if forloop.last %}
    <!-- <div class="d-flex flex-column"> -->
      <!-- <a class="mb-auto ms-auto toggle-md" id="theme-toggle" onclick="modeSwitcher()" style="cursor: pointer;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-command"
          viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
        </svg>
      </a> -->
      <a class="mb-0 me-0 py-md-0 py-2 text-decoration-none align-self-end" href="{{ site.github.url }}{{ item.url }}">
        <span>{{ item.name }}</span>
      </a>
    <!-- </div> -->
    {% else %}
    <a class="me-md-7 me-0 py-md-0 py-2 text-decoration-none align-self-end" href="{{ site.github.url }}{{ item.url }}">
      <span>{{ item.name }}</span>
    </a>
    <!-- <span class="middot me-md-7 me-0 py-md-0 py-2">&middot;</span> -->
    {% endif %}
    {% endfor %}
    <!-- <a class="ms-3 py-md-0 py-2 align-self-end toggle-md" id="theme-toggle" onclick="modeSwitcher()" style="cursor: pointer;">
      <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-circle-half" viewBox="0 0 16 16" style="vertical-align: -2px;">
        <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
      </svg>
    </a> -->
  </nav>
</header>

<style>
  .toggle-md {
    display: none;
  }

  @media (min-width: 768px) {
    .toggle-md {
      display: block;
    }

    .toggle {
      display: none;
    }

    .middot {
      display: none;
    }
  }
</style>