<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ site.github.url }}/assets/libs/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/main.css">
  <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
  <!-- <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet"> -->

  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.github.url }}/assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.github.url }}/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.github.url }}/assets/favicon-16x16.png">
  <link rel="manifest" href="{{ site.github.url }}/assets/site.webmanifest">
  <link rel="mask-icon" href="{{ site.github.url }}/assets/safari-pinned-tab.svg" color="#ffffff">
  <link rel="shortcut icon" href="{{ site.github.url }}/assets/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="{{ site.github.url }}/assets/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
</head>