---
layout: default
---

<div class="row mb-8">
  <div class="col-md-12">
  <h3 class="fw-bold mb-4">articles</h3>
  {%- for post in site.posts %}
  {%- if post.language == page.language %}
  <div class="flex-column mt-3">
    {%- if post.draft %}
    {%- else if post.subtitle == null %}
    <a href="{{ site.github.url }}{{ post.url }}">{{ post.maintitle }}</a>
    {%- else %}
    <a href="{{ site.github.url }}{{ post.url }}">{{ post.subtitle }}</a>
    {%- endif %}
    {%- if post.draft == false %}
    <span class="post-date"> - {{ post.date | date: "%B %-d, %Y" }}</span>
    {%- endif %}
  </div>
  {%- endif %}
  {%- endfor %}
  </div>
</div>

<style>
  .post-date {
    display: inline-block;
  }
</style>