---
layout: default
---

{{ content }}

<div class="row gx-md-6 gx-0 mb-5">
  {% for contact in site.data.settings.contacts %}
  <div class="d-flex col-md-6 flex-column-reverse">
    <!-- <div class="flex-row mb-4">
      {% for item in site.data.settings.social %}
      {% if forloop.first %}
      <a href="{{ item.link }}" class="ms-0 fs-5"><i class="{{ item.icon }} fa-fw" aria-hidden="true"></i></a>
      {% else %}
      <a href="{{ item.link }}" class="ms-3 fs-5"><i class="{{ item.icon }} fa-fw" aria-hidden="true"></i></a>
      {% endif %}
      {% endfor %}
      <a id="theme-toggle" onclick="modeSwitcher()" style="cursor: pointer;" class="ms-3 fs-5"><i class="fa-regular fa-circle-half-stroke fa-fw" aria-hidden="true"></i></a>
    </div> -->
    <div class="flex-row mb-4">
      <span>Email: </span>
      <a href="mailto:{{ contact.email }}" style="color: var(--main-text-color);">{{ contact.email }}</a>
    </div>
    <div class="d-flex mb-3 justify-content-between" style="width: 175px;">
      <span class="d-inline-flex">6th 科學班</span>
      <span class="d-inline-flex">｜</span>
      <span class="d-inline-flex">武陵高中</span>
    </div>
    <div class="d-flex mb-3 justify-content-between" style="width: 175px;">
      <span class="d-inline-flex">{{ contact.institution }}</span>
      <span class="d-inline-flex">｜</span>
      <span class="d-inline-flex">{{ contact.institution_address }}</span>
    </div>
    <div class="d-flex mb-3 justify-content-between" style="width: 175px;">
      <span class="d-inline-flex">{{ contact.title }}</span>
      <span class="d-inline-flex">｜</span>
      <span class="d-inline-flex">{{ contact.department }}</span>
    </div>
    <h4 class="flex-row mb-3" style="font-weight: normal;">{{ contact.name }}</h4>
    <h3 class="fw-bold mb-md-auto mb-4">contact</h3>
  </div>
  {% endfor %}
  <div class="col-md-6">
    <div class="flex-column mt-0 text-end">
      <img src="{{ site.github.url }}/assets/img/home.webp" alt="home" width="100%">
      <span style="font-size: 0.70em; color: var(--img-text-color); transition: color 0.5s;">coffee lab 秋季杯測會 w/ 皓程、力瑋</span>
    </div>
  </div>
</div>

<!-- <script>
  let attr = document.documentElement.getAttribute('data-theme')
  if (attr === 'light') {
    document.getElementById("theme-toggle").innerHTML = "<i class=\"fas fa-moon\"></i>";
  }
  else {
    document.getElementById("theme-toggle").innerHTML = "<i class=\"fas fa-sun\"></i>";
  }
</script> -->