<!DOCTYPE html>
<html lang="zh-Hant-TW">

{% include head.html %}

<script>
  window.addEventListener('pageshow', function (e) {
    if (e.persisted) {
      let theme = sessionStorage.getItem('theme');

      if (theme === 'light') {
        document.documentElement.setAttribute('data-theme', 'light');
        document.querySelector('meta[name="theme-color"]').setAttribute('content', 'rgb(255, 255, 254)');
      }
      else if (theme === 'dark') {
        document.documentElement.setAttribute('data-theme', 'dark');
        document.querySelector('meta[name="theme-color"]').setAttribute('content', 'rgb(0, 0, 0)');
      }
    }
    // let meta = document.createElement("meta");
    // meta.name = "theme-color";
    // meta.content = window.getComputedStyle(document.querySelector("html"))
    //                       .getPropertyValue("background-color");
    // document.head.appendChild(meta);
  })
</script>
<script src="{{ site.github.url }}/assets/libs/mode-switcher.js"></script>

<body class="preload">
  <div class="col-lg-7 mx-auto p-3 pb-md-5 pt-md-5 pb-4 pt-4">
    {% seo %}
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
  </div>
</body>

</html>

<script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
<script>
  jQuery(function ($) {
    $(window).load(function () {
      $("body").removeClass("preload");
    });
  });
</script>