<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">
<script src="{{ site.github.url }}/assets/libs/mode-switcher.js"></script>
<script>
  window.addEventListener('pageshow', function (e) {
    if (e.persisted) {
      let theme = sessionStorage.getItem('theme');

      if (theme === 'light') {
        document.documentElement.setAttribute('data-theme', 'light');
      }
      else if (theme === 'dark') {
        document.documentElement.setAttribute('data-theme', 'dark');
      }
    }
  })
</script>
{% include head.html %}

<body class="preload">
  <div class="col-lg-8 mx-auto p-3 py-md-5 py-4">
    {% seo %}
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
  </div>
</body>

</html>

<script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
<script>
  jQuery(function ($) {
    $(window).load(function () {
      $("body").removeClass("preload");
    });
  });
</script>