---
layout: default
---

{{ content }}

<div class="row g-md-5 g-0">
  <div class="col-md-6" style="text-align:left">
    {% for image in site.data.settings.galleryleft %}
      {% if forloop.first %}
      <div class="flex-column mt-0">
        <img src="{{ site.github.url }}/assets/img/{{ image.url }}" alt="Contact" width="100%">
        <font color="grey" size="1">{{ image.location }}, {{ image.year }}</font>
      </div>
      {% else %}
      <div class="flex-column mt-4">
        <img src="{{ site.github.url }}/assets/img/{{ image.url }}" alt="Contact" width="100%">
        <font color="grey" size="1">{{ image.location }}, {{ image.year }}</font>
      </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="col-md-6" style="text-align:right">
    {% for imageright in site.data.settings.galleryright %}
      {% if forloop.first %}
      <div class="flex-column mt-md-0 mt-4">
        <img src="{{ site.github.url }}/assets/img/{{ imageright.url }}" alt="Contact" width="100%">
        <font color="grey" size="1">{{ imageright.location }}, {{ imageright.year }}</font>
      </div>
      {% else %}
      <div class="flex-column mt-4">
        <img src="{{ site.github.url }}/assets/img/{{ imageright.url }}" alt="Contact" width="100%">
        <font color="grey" size="1">{{ imageright.location }}, {{ imageright.year }}</font>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
