---
layout: default
---

{{ content }}

<div class="row gx-md-6 gx-0 mb-4">
  <div class="col-md-6">
    {% for image in site.data.settings.galleryleft %}
      {% if forloop.last %}
      <div class="flex-column mb-md-0 mb-3 text-md-start text-end">
        <img src="{{ site.github.url }}/assets/img/{{ image.url }}" alt="Contact" width="100%">
        <span style="font-size: 0.70em; color:grey">{{ image.location }}, {{ image.year }}</span>
      </div>
      {% else %}
      <div class="flex-column mb-3 text-md-start text-end">
        <img src="{{ site.github.url }}/assets/img/{{ image.url }}" alt="Contact" width="100%">
        <span style="font-size: 0.70em; color:grey">{{ image.location }}, {{ image.year }}</span>
      </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="col-md-6">
    {% for imageright in site.data.settings.galleryright %}
      {% if forloop.last %}
      <div class="flex-column mb-0 text-end">
        <img src="{{ site.github.url }}/assets/img/{{ imageright.url }}" alt="Contact" width="100%">
        <span style="font-size: 0.70em; color:grey">{{ imageright.location }}, {{ imageright.year }}</span>
      </div>
      {% else %}
      <div class="flex-column mb-3 text-end">
        <img src="{{ site.github.url }}/assets/img/{{ imageright.url }}" alt="Contact" width="100%">
        <span style="font-size: 0.70em; color:grey">{{ imageright.location }}, {{ imageright.year }}</span>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
