---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div class="col-md-6" style="text-align:center">
    {% for image in site.data.settings.galleryleft %}
      <img src="{{ site.github.url }}/assets/img/{{ image.url }}" alt="Contact" width="100%">
      <font color="grey" size="1">{{ image.location }}, {{ image.year }}</font>
      {% unless forloop.last %}
        <br><br>
      {% endunless %}
    {% endfor %}
  </div>
  <div class="col-md-6" style="text-align:center">
    {% for imageright in site.data.settings.galleryright %}
      <img src="{{ site.github.url }}/assets/img/{{ imageright.url }}" alt="Contact" width="100%">
      <font color="grey" size="1">{{ imageright.location }}, {{ imageright.year }}</font>
      {% unless forloop.last %}
        <br><br>
      {% endunless %}
    {% endfor %}
  </div>
</div>
