---
layout: default
---

<div class="row mb-8">
  <div class="col-md-12">
    <div class="headers mb-8">
      {% if page.subtitle == null %}
      <h1 class="mb-0">{{ page.maintitle }}</h1>
      {% else %}
      <h1 class="mb-0">{{ page.maintitle }}：<br>{{ page.subtitle }}</h1>
      {% endif %}
      {% if page.subhead != null %}
      <h4 class="subhead mt-3 mb-0">{{ page.subhead }}</h4>
      {% endif %}
      <!-- {% if page.image != null %}
      <img class="article-img col-md-6 mt-8" src="/assets/img/{{ page.image }}">
      {% endif %} -->
    </div>
    <div class="article-date pt-2 border-top">
      <time datetime="{{ page.date | date_to_xmlschema }}">{{
        page.date | date:
        "%B %-d, %Y" }}</time>
    </div>
    <div class="tags mb-8">
      {% for tag in page.tags %}
      <a href="/tag/{{tag}}">{{tag}}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}
    </div>
    {{ content }}
  </div>
</div>

<style>
  .subhead {
    font-weight: 400;
  }

  .article-date {
    /* margin-bottom: 5rem; */
  }

  .tags {
    /* margin-bottom: 4rem; */
  }

  .footnote {
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    margin-left: -0.2rem;
    margin-top: 0.4rem;
  }

  .footnote-label {
    margin-right: 0.4rem;
    font-family: monospace;
  }

  .footnote-content {
    flex: 1;
  }

  .footnote-sup {
    font-family: monospace;
  }

  /* Default style for mobile: Image will take 100% width */
  .responsive-image {
    width: 100%;
  }

  /* For medium screens and above, set the width to 50% */
  @media (min-width: 768px) {
    .responsive-image {
      width: 50%;
    }
  }

  .image-span {
    font-size: 0.70em;
    color: var(--img-text-color);
    transition: color 0.5s;
    display: block;
    margin-top: 0.4rem;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    document.querySelectorAll('a').forEach(function (link) {
      if (link.hostname !== window.location.hostname) {
        link.target = '_blank';
        link.rel = 'noopener noreferrer'; // For security and performance reasons
      }
    });
  });
</script>