---
layout: default
---

<div class="row mb-5">
  <div class="col-md-12">
    {% if page.subtitle == null %}
    <h3>{{ page.title }}</h3>
    {% else %}
    <h3>{{ page.title }}：<br>{{ page.subtitle }}</h3>
    {% endif %}
    <div class="border-bottom pb-3 mb-3" style="transition: 0s;"><time datetime="{{ page.date | date_to_xmlschema }}">{{
        page.date | date:
        "%B %-d, %Y" }}</time>&thinsp; &middot;&thinsp;{% for tag in page.tags %}
      <a href="/tag/{{tag}}">#{{tag}}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}
    </div>
    {{ content }}
  </div>
</div>