---
layout: default
---

<div class="row gx-md-6 gx-0 mb-5">
  <div class="col-md-12 mb-md-0 mb-5">
    <h3 class="fw-bold mb-4">search</h3>

    <div id="search-searchbar"></div>

    <div class="post-list" id="search-hits">
      {% for post in site.posts %}
      <div class="post-item">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h2>

        <div class="post-snippet">{{ post.excerpt }}</div>
      </div>
      {% endfor %}
    </div>
    {% include algolia.html %}
  </div>
</div>